<app-nav></app-nav>
<p *ngIf="!userLoginOn" class="alert alert-danger">Usuario NO autenticado</p>
<p *ngIf="userLoginOn" class="alert alert-success">Usuario Autenticado</p>

<div class="card ">
    <div class="card-header">
        Datos Cuenta
    </div>
    <div class="card-body m-0">
        <app-personal-details></app-personal-details>
    </div>

</div>
<div class="card">
    <div class="card-header">
        Cuentas

        <div>
           <li *ngFor="let item of cuentas">
                <ul>
                    {{item.numeroCuenta}}
                </ul>
                <ul>
                    {{item.usuarioId}}
                </ul>
           </li>
           
        </div>
 

    </div>
    <div class="card-body m-0">

    </div>
</div>
<div class="card">
    <div class="card-header">
        Transacciones
    </div>
    <div class="card-body m-0">

    </div>

</div>

